@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.clicked {
    cursor: pointer;
}

.title {
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    margin-right: 100px;
}
